body {
  padding: 15px;
  font-family: sans-serif;
}

input, button {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #0066cc;
  color: white;
  border: none;
  border-radius: 6px;
}
